div+h1:hover {
    content: 'Hover over my picture';
}

.image {
    width: 20rem;
    height: 0 auto;
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.image:hover {
    transition: width 30rem;
}